# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.build/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/build/
**/android/captures/
local.properties
*.keystore

# iOS
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/FlutterPluginRegistrant.*
**/ios/ServiceDefinitions.json
*.xcworkspace
*.xcuserstate

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.*
**/macos/Pods/
**/macos/Runner.xcworkspace
**/macos/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/ephemeral/

# Web
**/web/.dart_tool/

# Linux
**/linux/flutter/.plugin_symlinks/

# Windows
**/windows/flutter/.plugin_symlinks/

# VS Code
.vscode/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Firebase / Google Services (local config, not secrets)
firebase-debug.log
google-services.json
GoogleService-Info.plist

# Coverage & reports
coverage/
*.lcov
reports/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Version control dirs
.history/
.svn/
.swiftpm/
migrate_working_dir/
